*{
	margin: 0;
	padding: 0;
	
}
html, body{
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

body{
	letter-spacing: 2px;
	animation: aparecer 1s;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#empresasDoUsuario{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	height: 100px;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	box-sizing: border-box;
	margin-bottom: 5px;
}

#empresasDoUsuario::-webkit-scrollbar {
    height: 7px;
}
 
#empresasDoUsuario::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 100px 100px 100px rgba(220, 220, 220, 1); 
    border-radius: 2px;
}
 
#empresasDoUsuario::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 100px 100px 100px rgba(115, 191, 203, 1); 
}

#empresasDoUsuario li{
	list-style: none;
	width: auto;
	padding: 0 7px;
}

.empresalogo{
	height: 70px;
	transition: all .5s;
}
.empresalogo:hover{
	cursor: pointer;
}
#linha{
	z-index: 999;
	position: absolute;
}
#bar{
	height: 0px;
	width: 100%;
	animation: animacao 1.5s ease-in-out infinite;
}

#imagem{
	width: 500px;
	height: 500px;
	background-color: #000;
	margin: 0 auto;
}



@-webkit-keyframes aparecer {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes aparecer {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes aparecer {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes aparecer {
  0%   { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes moverLinhas {
  0%   { left: -150px; }
  100% { left: 0; }
}

/* Container -  Procedimentos*/

#container-procedimentos{
	width: 80%;
	margin-left: 215px;
	height: 90%;
}

#input-pesquisa{
	margin-bottom:10px;
	margin-top: 10px;
	box-sizing: border-box;
	border: none;
	padding: 10px 50px 10px 10px;
	font-size: 20px;
	float: left;
	width: 100%;
	height: 49px;
	font-family: 'Poppins', sans-serif;
	background-image: url(../imagens/pesquisa.png);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	box-shadow: 0px 0px 5px #696969;
}

#container-empresas {
	float: left;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
}
#container-empresas div{
	width: 33.33%;	
	text-align: center;
}

#container-empresas div:nth-child(2){
	border-left: 1px  solid rgba(220, 220, 220, 1);
	border-right: 1px  solid rgba(220, 220, 220, 1);
}

#container-pesquisa {
	width: 100%;
	height: 78%;
	float: left;
}

#container-tabela-pesquisa {
	/*box-shadow: 0px 0px 10px #696969;*/
	margin-top: 0px;
	margin-left: 0;
	width: 100%;
	height: 100%;
	overflow-x: auto;
}
#container-niveis{
	background-color: transparent;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.niveis-input {
	box-shadow: 0 0 5px #696969;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
	outline: none;
	
	border: none;
	/*
	border: 2px solid #294ba7;
	*/
	padding: 10px;
	width: 17%;
}
.pesquisa {
	/*box-shadow: 0px 0px 10px #696969;*/
	font-size: 18px;
	letter-spacing: 2px;
	width: 100%;
	height: 25px;
	outline-style: none;
	border: none;
}


table{
	background-color: #fff;
	overflow: hidden;

}
tbody {
	color: #808080;
    display: block;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px #696969;
}

thead, tbody tr {
	box-shadow: 0px 0px 5px #696969;
	font-size: 18px;
    display:table;
    width:100%;
    table-layout:fixed;
    padding: 2px 0px 2px 50px;
}

thead{
	padding: 7px 0px 7px 50px
	font-size: 15px;
	color: #fff;
	height: 10px;
	border: none;
	background-color: rgba(115, 191, 203, 1);
}
table tr {
	box-shadow: none;
	padding-left: 50px; 
}
table tr {
	text-align: left;
}
table td {
	font-size: 14px;
	text-align: left;
}
tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
}

tbody tr:hover{
	color: #fff;
	transition: all 0.5s ease-in-out;
	background-color:rgba(115, 191, 203, 1);
}
td:first-child, td:nth-child(2)  { width: 10%;}
td:nth-child(3), td:nth-child(4)  { width: 15%;}
td:nth-child(5)  { width: 50%;}

thead th:first-child, thead th:nth-child(2)  { width: 10%;}
thead th:nth-child(3), thead th:nth-child(4)  { width: 15%;}  
thead th:nth-child(5)  { width: 50%; }  


/*Muda a cor do caminho da scrollbar o tamanho e a altura*/
table tbody::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.4); /* or add it to the track */
}
/* muda a cor da barra de scrollbar */
table tbody::-webkit-scrollbar-thumb {
    background: rgba(220, 220, 220, 1); 
}

/* Conatainer - procedimentos */


/* Estilizar as setas do datalist */
input::-webkit-calendar-picker-indicator {
		color: #ccc;
        opacity: 1;
        width: 12px; 
        height: 12px;
        background-color: transparent;
    }
/* Estilizar as setas do datalist */


/*
.niveis-input{

	background-position: 100% 50%; 
	background-repeat: no-repeat;
	background-size: 24px 24px;

}

*/

#novaImagem{
	background-image: ur(192.168.2.226/baseDeConhecimento/logoEmpresa/empresa9.jpg);
}

.ativo{
	filter: grayscale(0%);
}

#container-btnSwitch-procedimentos-ativos-desativos{
	display: flex;
	align-items: center;
	width: 60px;
	height: 30px;
	border-radius: 15px;
	background-color: #73bfcb;
	box-sizing: border-box;
	padding: 0 5px;
	margin-bottom:10px;
	transition: all .3s;
	box-shadow: 0 0 2px #696969;
	float: left;
}
#container-btnSwitch-procedimentos-ativos-desativos:hover{
	cursor: pointer;
}

#container-btnSwitch-procedimentos-ativos-desativos #btnSwitch-procedimentos-ativos-desativos{
	display: none;
}

#divSwitch-procedimentos-ativos-desativos{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #fff;
	transition: all .3s;
	box-shadow: 0 0 1px #696969;
}

.btnAtivados{
	margin-left: 0px;
}

.btnDesativados{
	margin-left: 30px;
}

#msgm-procedimentos-ativados-desativados{
	float: left;
	font-size: .8vw;
	color: #696969;
	margin-left: 15px;
	margin-top: 2px;
}
