@CHARSET "ISO-8859-1";

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Medium.ttf);
}

#container-avisos-cadastro{
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	opacity: 0;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 200px;
	top: 23.5%;
	margin-top: -100px;
	left: 100%;
	margin-left: -200px;
	box-sizing: border-box;
	border: 1px solid #fff;
	transition: all .5s;
	border-radius: 5px;
	z-index: -1;
	transition: all .5s;
}

#container-aviso-cadastrado{
	opacity: 0;
	z-index: -20;
	box-sizing: border-box;
	padding: 10px;
	position: fixed;
	width: 400px;
	background-color: rgba(0, 0, 0, .8);
	left: 50%;
	margin-left: -200px;
	border-radius: 5px;
	letter-spacing: 2px;
	border: 1px solid #fff;
	
	transition: all .5s;
}

#container-aviso-cadastrado ul{
	list-style: none;
}

.li-notificacao-cadastrada{
	width: 350px;
	background-color: rgba(0, 0, 0, .8);
	margin-top: 10px;
	box-sizing: border-box;
	padding: 2px 15px;
	border-radius: 5px;
	box-shadow: 0 0 2px #fff; 
	letter-spacing: 2px;
	margin-left: 7px;
	text-shadow: 0 0 1px #000;
}

.li-notificacao-cadastrada #titulo{
	color: #73bfcb;
}
.li-notificacao-cadastrada #descricao{
	color: #fff;
	margin-bottom: 10px;
}
.li-notificacao-cadastrada #aviso-data{
	color: #73bfcb;
	font-size: 11px;
}

#container-avisos-cadastro h2{
	color: #fff;
	text-align: center;
	width: 100%;
	box-shadow: inset 0 0px 5px #73bfcb;
	border: 1px solid #73bfcb;
	margin-bottom: 10px;
	background-color: #73bfcb;
	text-shadow: 0 0 1px #000;
}

#container-avisos-cadastro #cadastrarAvisoTitulo{
	color: #73bfcb;
	font-family: 'Poppins', sans-serif;
	padding:  2px 5px;
	/* padding: 7px 7px 7px 40px; */
	font-size: 18px;
	letter-spacing: 2px;
	margin: 10px 0;
	border: none;
	outline: none;
	border-radius: 2px;
	width: 90%;
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid #73bfcb;
	
	/* background-image: url(../imagens/notificacaotitulo.svg);
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 24px; */
}

#container-avisos-cadastro #cadastrarAvisoDescricao{
	font-family: 'Poppins', sans-serif;
	padding: 2px 7px;
	font-size: 16px;
	letter-spacing: 2px;
	width: 90%;
	box-sizing: border-box;
	height: 100px;
	border: none;
	outline: none;
	resize: none;
	border-radius: 2px;
	box-shadow: 2px 2px 5px #000;
	margin-bottom: 10px;
	background-color: transparent;
	border: 1px solid #73bfcb;
	color: #fff;
}

#pesquisar-empresa-aviso{
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
	box-sizing: border-box;
	font-size: 16px;
	width: 90%;
	outline: none;
	margin-bottom: 10px;
	padding: 7px 7px 7px 35px;
	border-radius: 2px;
	background-color: transparent;
	border: 1px solid #73bfcb;
	color: #fff;
	
	background-image: url(../imagens/pesquisa.png);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

#container-avisos-cadastro #btnCadastrarAviso{
	outline: none;
	border: none;
	font-size: 16px;
	width: 25%;
	height: 35px;
	padding: 5px;
	letter-spacing: 2px;
	font-weight: bolder;
	color: #fff;
	border-radius: 2px;
	font-family: 'Poppins', sans-serif;
	
	background-color: transparent;
	background-image: url(../imagens/enviarmensagem.svg);
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

#container-avisos-cadastro #btnCadastrarAviso:hover{
	cursor: pointer;
}


#lista-empresas-aviso{
	box-sizing: border-box;
	padding: 10px 0;
	overflow-y:auto;
	height: 100px; 
	width: 90%;
	margin-bottom: 10px;
	color: #ccc;
	list-style: none;
}

#lista-empresas-aviso::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#lista-empresas-aviso::-webkit-scrollbar-thumb {
    background-color: #73bfcb;
}

#lista-empresas-aviso::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#lista-empresas-aviso li{
	float: left;
	margin: 10px;
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#lista-empresas-aviso li:first-child{
	width: 90%;
}

#lista-empresas-aviso li .empresas-aviso, #lista-empresas-aviso li .empresas-aviso-selecionar-todas{
	margin-right: 10px;
}

#container-avisos{
	z-index: 1;
	display: flex;
	flex-direction: row;
	position: fixed;
	right: -345px ;
	top: 20px;
	transition: all .5s;
	height: 100%;	
}

#container-avisos::-webkit-scrollbar { 
    display: none; 
}
#avisos{
	width: 35px;
	height: 35px;
	background-image: url(../imagens/notificacao.svg);
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: 50%;
}

#container-lista-notificacoes{
	width: 350px;
	height: 98%;
	overflow-y: auto;
}

#container-lista-notificacoes::-webkit-scrollbar { 
    display: none; 
}	
#container-lista-notificacoes ul{
	list-style: none;
	font-family: 'Poppins', sans-serif;
	
}	
	
#container-lista-notificacoes ul .li-notificacao{
	display: none;
	width: 350px;
	background-color: rgba(0, 0, 0, .8);
	margin-top: 10px;
	box-sizing: border-box;
	padding: 2px 15px;
	border-radius: 5px;
	box-shadow: 0 0 2px #fff; 
	letter-spacing: 2px;
	margin-left: 7px;
	text-shadow: 0 0 1px #000;
}

#container-lista-notificacoes ul .li-notificacao .titulo{
	font-size: 15px;
	font-weight: bold;
	color: #73bfcb;
}

#container-lista-notificacoes ul .li-notificacao .descricao{
	font-size: 14px;
	color: #fff;
	margin-bottom: 10px;
}
#container-lista-notificacoes ul .li-notificacao .aviso-data{
	font-size: 11px;
	color: #73bfcb;
	letter-spacing: 2px;
}	
#container-quantidade-avisos{
	padding: 2px 7px;
	border-radius: 50%;
	display: none;
	align-items: center;
	justify-content: space-around;
	font-size: 18px;
	font-weight: bolder;
	position: fixed;
	
	color: #f12;
	right: 32px;
	top: 10px;
	z-index: 1;
	font-family: 'Poppins', sans-serif;
}	
#avisos:hover{
	cursor: pointer;
}

.avisosAtivo{
	right: 350px;
	background-image: url(../imagens/fechar.svg)!important;
	background-size: 30px !important;
}
#liCadastrarAviso{
	text-align: center;
}

#liCadastrarAviso #chamarCadastroAviso{
	border: none;
	outline: none;
	color: #fff;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
	background-color: transparent;
} 
#liCadastrarAviso #chamarCadastroAviso{
	cursor: pointer;
}
.btnExcluirAviso{
	width: 20px;
	height: 20px;
	position: relative;
	left: 200px;
	border: none;
	outline: none;
	background-color: transparent;
	background-image: url(../imagens/excluir.svg);
	background-size: 15px ;
	background-position: 50%;
	background-repeat: no-repeat;
}

.btnExcluirAviso:hover{
	cursor: pointer;
}

#divAvisoTituloDescrica{
	width: 100%;
	height: 100%;
	display:  flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
	position: absolute;
	z-index: 10;
}

#divAvisoEmpresasBtnCadastrar{
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
	position: absolute;
	z-index: 10;
	display: none;
}

#divAvisobtnVoltabtnCadastrar{
	width: 100%;
	display:  flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}
#btnAvisoTela2{
	border: none;
	outline: none;
	
	background-color: transparent;
	background-image: url(../imagens/proximo.svg);
	background-size: 25px ;
	background-position: 50%;
	background-repeat: no-repeat;
	
	width: 25%;
	height: 35px;
}

#btnAvisoTela2:hover ,#btnAvisoVoltarTela1:hover{
	cursor: pointer;	
}

#btnAvisoVoltarTela1{
	border: none;
	outline: none;
	
	background-color: transparent;
	background-image: url(../imagens/voltar.svg);
	background-size: 25px ;
	background-position: 50%;
	background-repeat: no-repeat;
	
	width: 25%;
	height: 35px;
}

