#container{
	width: 80%;
	margin-left: 200px;
}

#container-cadastro-procedimento{
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #000;
	font-size: 20px;
	float: left;
	padding-top: 20px;
}

#container-imagens{
	width: 100%;
	height: 10%;
	white-space: nowrap;
	overflow-x: auto; 
	
}
#container-imagens::-webkit-scrollbar {
    width: 12px;
}
 
#container-imagens::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 100px 100px 100px rgba(220, 220, 220, 1); 
    border-radius: 2px;
}
 
#container-imagens::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 100px 100px 100px rgba(115, 191, 203, 1); 
}
#container-imagens ul li{
	display: inline-block;
	list-style: none;
	padding: 14px 5px 5px 14px;
}

#titulo{
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	color: #73bfcb;
	text-shadow: 1px 1px 1px #000;
	margin-bottom: 10px;
}
#titulo h1 {
	padding-left: 50px;
	padding-right: 50px;
	border-bottom: 5px solid #73bfcb;
	padding-bottom: 10px;
	display: inline-block;
}

#tituloProcedimento{
	width: 54.5%;
}

#container-procedimento-descricao{
	width: 100%;
}

.select-vencimento-elegivel{
	padding: 5px 4px 5px 35px;
	letter-spacing: 2px;
	width: 100px;
	font-family: 'Poppins', sans-serif;
	border: none;
	outline: none;
	box-shadow: 1px 1px 5px #000;
	font-weight: 400;
	width: 15.4%;
	background-repeat: no-repeat;
	background-position: 3% 50%;
	background-size: 24px 24px;
	border-radius: 2px;
}
#vencimento{
	background-image: url(../imagens/vencimento.svg);
}

#elegivel{
	background-image: url(../imagens/elegivel.svg);	
}
#grupoSolucao{
	background-image: url(../imagens/gruposolucao.svg);
	background-repeat: no-repeat;
	background-position: 3% 50%;
	background-size: 24px 24px;
}

#formulario #empresa{
	background-image: url(../imagens/empresanome.png);
	background-repeat: no-repeat;
	background-position: 3% 50%;
}

#categoria{
	background-image: url(../imagens/categorianome.png);
	background-repeat: no-repeat;
	background-position: 3% 50%;
}
.niveis{
	background-image: url(../imagens/nivel.svg);
	background-repeat: no-repeat;
	background-position: 3% 50%;
	background-size: 24px 24px;
}


#btncadastrar{
	text-align: center;
	font-family: 'Poppins', sans-serif;
	text-shadow: 1px 2px 2px #000;
	font-size: 22px;
	height: 50px;
	width: 200px;
	color: #73bfcb;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: transparent;
	border: 2px solid #73bfcb;
	
	-webkit-transition: all .5s;
	
	transition: all .5s;
	border-radius: 2px;
	margin-top: 30px;
}

#btncadastrar:hover{
cursor: pointer;
}

/* #formulario input{
	border-radius: 2px;
	box-shadow: 1px 1px 5px #000;
	outline: none;
	border: 0px;
	border-bottom: 1px solid #73bfcb;
}

#formulario input::-webkit-calendar-picker-indicator {
     opacity: 100;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000)";
     color: #ccc;
} */

#container-descricao{
	z-index: 0;
	margin-top: 20px;
	box-shadow: 0px 0px 5px #000;
}

.pequeno{
	width: 250px;
	height: 150px;
	box-shadow: 2px 2px 5px #000;
	-webkit-transition: .5s all;
	transition: .5s all;
}
.pequeno:hover{
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
}

#totalModal{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .6);
	z-index: -10;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#modal-confirmar{
	color: #fff;
	width: 700px;
	height: 300px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	margin-top: -150px;
	background-color: rgba(0, 0, 0, 1);
	overflow: hidden;
	border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	box-sizing: border-box;
	z-index: -10;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	box-shadow: 0 0 10px #73bfcb;
}

#modal-confirmar h2{
	background-color: #73bfcb;
	text-align: center;
	width: 100%;
	padding: 10px;
}

#mensagemDeConfirmacao{
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	font-size: 22px;
	position: absolute;
	top: 100px;
	padding: 0 30px;
}

#btnSim{
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	background-color: transparent;
	letter-spacing: 2px;
	border: none;
	outline: none; 
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
	padding: 0 20px;
}

#btnSim:hover, #btnNao:hover{
	cursor: pointer;
	color: #73bfcb;
}

#btnSim{
	position: absolute;
	bottom: 20px;
	left: 320px;
}

#mensagemDeConfirmacaoBotoes{
	width: 80%;
	border-top: 1px  solid rgba(115, 191, 203, 1);
	height: 30%;
}

.erro{
	background-image: url(../imagens/erro.svg) !important;
	background-repeat: no-repeat;
	background-position: 1.5% 50%;
	background-size: 24px 24px;
	background-color: rgba();
}
.procedimento-campos-cadastro{
	letter-spacing: 2px;
	font-size: 16px;
	border: none;
	outline: none;
	padding: 5px 5px 5px 35px;
	width: 17%;
	box-sizing: border-box;
	box-shadow: 0 0 5px #696969;
	font-family: 'Poppins', sans-serif;
	margin-right: 20px;
	margin-bottom: 30px;
}
#select-procedimento-aprovacao{
	
}
