#container-tabela-pesquisa{
	overflow-x:auto;
	background-color: #ccc;
}

table{
	border-collapse: collapse;
	width: 100%;
}
table th{
	background-color: #4ECDC4;
	color: #000;
	height: 50px;
}
table tr {
	height: 35px;
}
table th, td{
	text-align: center;
	padding-left: 15px;
	padding: 0;
}
tr:nth-child(even) {background-color: rgba(255, 255, 255, 0.2)}

.tabela-button{
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid #ff8000;
	height: 100%; 	
}

.style-button{
	width: 100%;
	background-color:#000000;
	font-size: 20px;
	height: 100%; 
	text-align: center;
	color: #FFF;
}


table td{
	height: 35px; 
}

.outracor{
 background-color: rgba(255, 255, 255, 0.3);
}


#button-tabela{
	border: 1px solid #ff8000;
	width: 19%;
	margin-top: 10px;
	float: left;
	height: 96px; 		
	margin-left: 10px; 	
}


table th{ 	
	width: 33%;
	background-color: #73bfcb;
	height: 35px; 	
}


#barrapesquisa{
	width: 100%;
	height: 100% ;
}


#corpopagina{
	margin-top: 50px;
	border: 1px solid #ccc;
	margin-left: 200px;
	margin-right: 200px;
}

.tabela{
	margin-top: 10px;
	overflow-x: auto;
	width: 80%;
	float: left;
	border: 1px solid #8000ff;
}

.pesquisa{
	font-size: 18px;
	letter-spacing: 2px;
	height: 25px;
	background-color: #fff;
	outline-style: none;
	border: none;
}

.pesquisa:nth-child(2){
	border-right: #ccc solid 1px;
	padding: 10px 5px 10px 50px;
	width: 80%;
}
.pesquisa:nth-child(3){
	height: 45px;
	width: 15%;
}

#pesquisa-icone{
	position: fixed;
	margin-left: 10px;
	margin-top: 7px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
