@keyframes movimento{
	0%   { transform: scale(1.2); }
	
	100% { opacity: 1; transform: scale(1); }
}

#container-cadastro-gruposolucao{
	width: 500px;
	height: 220px;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	box-shadow: 0px 0px 10px #73BFCB;
	border-radius: 5px;
	overflow: hidden;
	top: 50%;
	margin-top: -110px;
	left: 50%;
	margin-left: -250px;
	opacity: 0;
	z-index: -10;
}

#formulario ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}
#formulario ::-moz-placeholder { /* Firefox 19+ */
  color: red;
}
#formulario :-ms-input-placeholder { /* IE 10+ */
  color: red;
}
#formulario :-moz-placeholder { /* Firefox 18- */
  color: red;
}

.erro{
	background-image: url(../imagens/erro.svg) !important;
	background-repeat: no-repeat;
	background-position: 1.5% 50%;
	background-size: 24px 24px;
	background-color: rgba();
	border: 1px solid red;
}

#formulario #titulo{
	color: #fff;
	text-shadow: 0px 0px 1px #000;
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
	background-color: #73bfcb;
	width: 100%;
	position: relative;
	top: 0;
	margin-bottom: 10px;
}

label{
	text-shadow: 0px 0px 1px #000;
	margin-left: 15px;
	color: #fff;
	font-size: 22px;
}

#nome{
	letter-spacing: 2px;
	margin-top: 5px;
	margin-left: 15px;
	box-sizing: border-box;
	outline: none;
	border: none;
	padding: 2px 10px 2px 40px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	width: 95%;
	border-radius: 2px;
	margin-bottom: 50px;
	
	background-image: url(../imagens/gruposolucao.png);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}


* Estilizar as setas do datalist */
input:-webkit-calendar-picker-indicator {
	color: #ccc;
    opacity: 1;
    width: 12px; 
    height: 12px;
    background-color: transparent;
}
    
#btnCriarGrupo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	text-shadow: 0px 0px 1px #000;
	font-size: 18px;
	height: 50px;
	width: 100%;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	border-top: 2px solid #73bfcb;
	position: absolute;
	bottom: 0px;
	box-shadow: inset 0px 0px 5px #73BFCB;
	transition: all .5s;
	border-radius: 2px;
	
}

#textobotao{
	width: 100%;
	height: 100%;
}

#total{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	opacity: 0;
	transition: all .2s;
	z-index: -10;
}

.botoes-alterar-excluir{
	display: flex;
	align-items: center;
	top: 185px;
	right: 0;
	position: absolute;
	width: 30%;
	height: 40px;
	display: flex;
	justify-content: space-around;
}

#alterar{
	box-sizing: border-box;
	padding: 2px;
	background-image: url(../imagens/alterar.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 24px 24px;
	height: 40px;
	
	width: 60px;
	display: none;
	
}

#excluir{
	box-sizing: border-box;
	padding: 2px;
	background-image: url(../imagens/excluir.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 24px 24px;
	height: 40px;
	
	width: 60px;
	display: none;
}

#float-adicionar-grupo{
	border-radius:64px;
	box-shadow: 0px 5px 1px #696969;
	background-image: url(../imagens/adicionar.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	transition: all .2s;
	
	
	position: fixed;
	width: 64px;
	height: 64px;
	bottom: 30px;
	right: 30px;
}
#float-adicionar-grupo:ACTIVE{
	box-shadow: 0px 0px 0px #696969;
	bottom: 25px;
}

#float-adicionar-grupo:hover{
	cursor: pointer;
}
