html, body{
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

#linha{
	z-index: 999;
	position: absolute;
}
#bar{
	height: 0px;
	width: 100%;
	animation: animacao 1.5s ease-in-out infinite;
}

#imagem{
	width: 500px;
	height: 500px;
	background-color: #000;
	margin: 0 auto;
}


@-webkit-keyframes aparecer {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes aparecer {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes aparecer {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes aparecer {
  0%   { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes moverLinhas {
  0%   { left: -150px; }
  100% { left: 0; }
}

/* Container -  Grupo */

#container-grupo #titulo{
	text-align: center;
	width: 60%;
	margin: 0 auto;
	border-bottom: 5px solid #73bfcb;
	padding: 20px;
}

#container-grupo{
	width: 80%;
	margin-left: 225px;
	height: 90%;

}

#input-pesquisa{
	margin-bottom:20px;
	margin-top: 10px;
	box-sizing: border-box;
	border: none;
	padding: 10px 50px 10px 10px;
	font-size: 20px;
	width: 100%;
	height: 49px;
	font-family: 'Poppins', sans-serif;
	background-image: url(../imagens/pesquisa.png);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	box-shadow: 0px 0px 5px #696969;
}

#container-pesquisa {
	margin-top: 20px;
	width: 100%;
}


.pesquisa {
	/*box-shadow: 0px 0px 10px #696969;*/
	font-size: 18px;
	letter-spacing: 2px;
	width: 100%;
	height: 25px;
	outline-style: none;
	border: none;
}

table{
	background-color: #fff;
	overflow: hidden;

}
tbody {
	color: #808080;
    display: block;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px #696969;
}

thead, tbody tr {
	box-shadow: 0px 0px 5px #696969;
	font-size: 18px;
    display:table;
    width:100%;
    table-layout:fixed;
    padding: 2px 0px 2px 50px;
}

thead{
	padding: 7px 0px 7px 50px;
	font-size: 15px;
	color: #fff;
	height: 10px;
	border: none;
	background-color: rgba(115, 191, 203, 1);
}
table tr {
	box-shadow: none;
	padding-left: 50px; 
}
table tr {
	text-align: left;
}
table td {
	font-size: 14px;
	text-align: left;
}
tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
}

tbody tr:hover{
	color: #fff;
	transition: all 0.5s ease-in-out;
	background-color:rgba(115, 191, 203, 1);
}
td:first-child, td:nth-child(2)  { width: 10%;}
td:nth-child(3), td:nth-child(4)  { width: 15%;}
td:nth-child(5)  { width: 50%;}

thead th:first-child, thead th:nth-child(2)  { width: 10%;}
thead th:nth-child(3), thead th:nth-child(4)  { width: 15%;}  
thead th:nth-child(5)  { width: 50%; }  


/*Muda a cor do caminho da scrollbar o tamanho e a altura*/
table tbody::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.4); /* or add it to the track */
}
/* muda a cor da barra de scrollbar */
table tbody::-webkit-scrollbar-thumb {
    background: rgba(220, 220, 220, 1); 
}


/* Conatainer - procedimentos */


/* Estilizar as setas do datalist */
input::-webkit-calendar-picker-indicator {
		color: #ccc;
        opacity: 1;
        width: 12px; 
        height: 12px;
        background-color: transparent;
    }
/* Estilizar as setas do datalist */


/*
.niveis-input{

	background-position: 100% 50%; 
	background-repeat: no-repeat;
	background-size: 24px 24px;

}

*/

#burgerKing {
	width: 70px;
	height: 70px;
	background-image: url(../imagens/burgerking.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
#light{
	width: 100px;
	height: 70px;
	/* background-image: url(http://192.168.2.226/baseDeConhecimento/logoEmpresa/empresa9.jpg); */
	background-image: url(../imagens/light.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#kfc{
	width: 70px;
	height: 70px;
	background-image: url(../imagens/kfc.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

#novaImagem{
	background-image: ur(192.168.2.226/baseDeConhecimento/logoEmpresa/empresa9.jpg);
}

.imagemEmpresa{
	object-fit: cover;
  	width: 40px;
}

#empresaCategoria{
	box-shadow: 0 0 5px #000;
	border: none;
	outline: none;
	border-radius: 2px;
	margin-bottom: 10px;
	letter-spacing: 2px;
	padding: 2px 10px 2px 40px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	width: 15%;
	background-image: url(../imagens/empresanome.png);
	background-repeat: no-repeat;
	background-position: 3% 50%;
	background-size: 24px 24px;
}

#container-procedimento-empresa label{
	color: #000;
	text-shadow: none;
	font-size: 20px;
}

