#cabecalho{
	background-color: #000;
	width:150px;
	height:100%; 
	position: fixed;
	top: 0;
	box-shadow: 0 2px 10px #000;
 }

#cabecalho  ul {
	list-style: none;
	box-sizing: border-box;	
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

#cabecalho ul  li{
	text-align: center;
	margin-bottom: 10px;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	display: none;
}

#azul{
	width: 100%;
	padding: 15px 0px 15px 0px;
	background-color: rgba(115, 191, 203, 1);
}

.legenda{
	box-sizing: border-box;
	color: #fff;
	padding: 0px 5px 0px 10px;  
	font-size: 18px;
	background-color: rgba(115, 191, 203, 1);
	position: fixed;
	left: 80px;
	margin-top: -35px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all .2s;
	transition: all .2s;
	border-radius: 5px;
	
}

.seta{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 1;
	content: '';
  	position: fixed;
  	width: 0;
  	height: 0;
  	left: 90px;
  	margin-top: 12px;
  	border: 7px solid;
  	border-color: transparent rgba(115, 191, 203, 1) transparent transparent;
  	-webkit-transition: all .2s;
  	transition: all .2s;
  	display: none;
}


li:hover  .legenda{
	z-index: 9999999;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform:translate3d(30px, 0, 0);
	        transform:translate3d(30px, 0, 0);
}

#simbolo1{
	margin-top: 25px;
	background-color: #000;
}

span p:before,  span p:after{
	content: "-";
}
span p{
	font-size: 12px;
}
