@CHARSET "ISO-8859-1";

html, body{
	height: 100%;
}


#container-imagens-empresa{
	box-sizing: border-box;
	width: 85%;
	height: 100%;
	margin-left: 200px;
}

#titulo-container-imagens-empresa{
	display: flex;
	justify-content:space-around;
	align-items: center;
	width: 100%;
	height: 11%;
}

#titulo-container-imagens-empresa h1{
	border-bottom: 5px solid #73bfcb;
	padding: 25px  50px;
}

#empresaEscolhida{
	margin-bottom: 20px;
	width: 20%;
	padding: 7px 5px;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
	border: none;
	outline: none;
	box-shadow: 0 0 2px #000;
}
#imagens-empresa {
	width: 45%;
	height: 80%;
	white-space: nowrap;
	overflow-y:auto; 
	box-sizing: border-box;
}
#imagens-empresa::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#imagens-empresa::-webkit-scrollbar-thumb {
    background-color: #696969;
}

#imagens-empresa::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#imagens-empresa ul{
	width: 100%;
}
#imagens-empresa ul li{
	list-style: none;
	float: left;
	padding: 15px;
}

.pequeno{
	box-shadow: 0 0 5px #000;
	width: 200px;
	height: 100px;
}

#imagemMaior{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	position: relative;
	bottom: 70%;
	right: 0;
	float: right;
	width: 50%;
	height: 65%;
}
#imagemEscolhida{
	max-width: 100%;
	max-height: 85%;
	box-shadow: 0px 0px 10px #000;
}
#btnExcluirImagem{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 50px;
	background-color: transparent;
	border: none;
	outline: none;
	
	background-image: url(../imagens/excluir.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 50px 50px;
}