html, body{
		font-family: verdana, arial;
		color: #fff;
		margin: 0;
		padding: 0;

		background: #1F3C56;
		background: -webkit-linear-gradient(to left, #fff, #030E21); 
		background: -webkit-linear-gradient(right, #1F3C56, #030E21); 
		background: linear-gradient(to left, #1F3C56, #030E21); 
}

#login{
		font-weight: 700;
		letter-spacing: 2px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		width: 100%;
	}

	.logincaixa{
		position: relative;
		left: 50px;
		padding: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 35%;
		height: auto;
		border-radius: 5px;
	}

	#loginPrincipal label{
		padding: 0px;
		width: 24px;
		position: relative;
		top: 38px;
		left: 0px;
	}

	#loginPrincipal input{
		box-sizing: border-box;
		position: relative;
		top: 0px;
		color: #fff;
		font-weight: bold;
		outline: none;
		border-style: none;
		border-bottom: 2px solid rgba(255, 255, 255, 1);
		letter-spacing: 2px;
		padding: 10px 0px 10px 60px;
		font-size: 19px;
		background-color: transparent;
	}
	
	#loginPrincipal input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: rgba(255, 255, 255, 0.7);
				}
				::-moz-placeholder { /* Firefox 19+ */
				  color: pink;
				}
				:-ms-input-placeholder { /* IE 10+ */
				  color: pink;
				}
				:-moz-placeholder { /* Firefox 18- */
				  color: pink;
				}

	 #btnEntrar{
	 	color: #fff;
	 	font-weight: bold;
	 	letter-spacing: 2px;
	 	font-size: 20px;
	 	background-color: transparent;
	 	border: 2px solid #d8de3f;
		padding: 10px;
		margin-top: 30px;
		width: 100%;
	}

	#login a{
		color: #d8de3f;
		margin-top: 15px;
		font-size: 15px;
	}

	#loginImagem {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		
	}

	.fadeIn {
	-webkit-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 1s ease-in-out;
	}
	
	@-webkit-keyframes fadeIn {
	0% { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
	100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } 
	}
	@keyframes fadeIn {
	0% { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
	100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
	}