*{
	margin: 0;
	padding: 0;
}
html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	letter-spacing: 2px;
}

@font-face {
    font-family: Poppins;
    src: url(192.168.2.52/baseDeConhecimento/resources/font/Poppins-Medium.ttf);
}


body{
	overflow: hidden;
	width:100%;
	height: 100%;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	font-family: 'Poppins', sans-serif;
	background-size: cover;
	background-image: url(../imagens/login2.jpg);
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;


	-webkit-animation: esconder 5s infinite; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
  	animation: esconder 2s ; /* IE 10+, Fx 29+ */
}


#login{
	top: 50%;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 65%;
	height: 45px;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #000;
}

input{
	color: #4ecdc4;
	font-size: .8vw;
	position: relative;
	outline: none;
	width: 100%;
}


#usuario::-webkit-input-placeholder, #senha::-webkit-input-placeholder{
	color: #ccc;
}


#usuario::-moz-placeholder, #senha::-moz-placeholder{
	color: #ccc;
}


#usuario:-ms-input-placeholder, #senha:-ms-input-placeholder{
	color: #ccc;
}


#usuario::placeholder, #senha::placeholder{
	color: #ccc;
} 

#usuario{ 
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	left: 0px;
	padding-left: 50px;
	padding-right: 0px;
	outline: none;
    border: none;

    background-image: url(../imagens/usuario.png);
    background-repeat: no-repeat;
    background-position: 2% 50%;

    -webkit-transition: all .5s;

    transition: all .5s;
}

#senha{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
	padding-left: 45px;
    border: none;

    background-image: url(../imagens/senha.png);
    background-repeat: no-repeat;
    background-position: 2% 50%;

     -webkit-transition: all .5s;

     transition: all .5s;
}

#entrar{
	padding: 15px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 3px;
	font-size: 1.5vh;
	border: none;
	outline: none;
	background-color: #000; 
	width: 15%;
	height: 45px;
	left: 0px;
	position: relative;
}

#linha{
	top: 5px;
	left: 45%;
	z-index: 1;
	position: absolute;
	-webkit-transform: rotate(15deg);
	        transform: rotate(15deg);
	width: 1px;
	height: 35px;
	background-color: #ccc;
}

#esqueciSenha{
	letter-spacing: 2px;
	font-size: .7vw;
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 60px;
}

footer{
	position: absolute;
	color: #fff;
	bottom: 10px;
	font-size: .5vw;
	letter-spacing: 5px;
}

@-webkit-keyframes esconder {
  0%   { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}
@keyframes esconder {
  0%   { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}

@-webkit-keyframes aa {
  0%   { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}

@keyframes aa {
  0%   { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}


@-webkit-keyframes moverBotao {
  0%   { right: 0; }
  100% { left: 0;  }
}


@keyframes moverBotao {
  0%   { right: 0; }
  100% { left: 0;  }
}

#branco{
	background-color: #fff;
	width: 100%;
	height: 100%;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	display: block;
	-webkit-animation-fill-mode: forwards !important;
	        animation-fill-mode: forwards !important;
}

#barra{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	width: 150px;
	height: 5px;
	background-color: #000;
	position: fixed;
	top: 50%;
	height: 45px;
	left: 0;
	z-index: 2;
}

.animated {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes erro {
    0%   { top: 0%;   }
    10%   { top: 100%;   }
    25%  { top: 100%;  }
    50%	 { top: 100%; }
    95%  { top: 100%; }
    100% { top: 0%; }
}

@keyframes erro {
    0%   { top: 0%;   }
    10%   { top: 100%;   }
    25%  { top: 100%;  }
    50%	 { top: 100%; }
    95%  { top: 100%; }
    100% { top: 0%; }
}

.erro {
	opacity: 1 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-animation: erro 4s;
            animation: erro 4s;
}

#loginInvalido:before, #loginInvalido:after{
	content: "";
	width: 15%;
	height: 1px;
	background-color: #fff;
	top: 50%;
	position: absolute;
}

#loginInvalido:before{
	left: 5%;
}

#loginInvalido:after{
	right: 5%;
}

#loginInvalido{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	color: #fff;
	box-sizing: border-box;
	text-align: center;
	position: absolute;	
	top: 0%;
	left: 25%;
	padding: 10px;
	z-index: -1;
	box-shadow: 0px 0px 10px #000;
	border-radius: 0px 0px 10px 10px;
	background-color: rgba(128, 0, 0, .7);
	width: 50%;
	height: 45px;
	-webkit-transition: all .5s;
	transition: all .5s;
}