#container-cadastro-nivel{
	width: 600px;
	height: 520px;
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	top: 50%;
	margin-top: -270px;
	left: 50%;
	margin-left: -300px;
	box-shadow: 0px 0px 10px #73BFCB;
	border-radius: 5px;
	overflow: hidden;
	z-index: -10;
	opacity: 0;
	transition: all .2s;
}

#container-cadastro-nivel #titulo{
	color: #fff;
	text-shadow: 0px 0px 1px #000;
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
	background-color: #73bfcb;
	width: 100%;
	position: relative;
	top: 0;
	margin-bottom: 10px;
}

#container-nivel #li1, #container-nivel #li2, #container-nivel #li3{
	/* opacity: 0;
	z-index: -15; */
	display: none;
}

#container-nivel #nomeDoNivel{
	border: 5px solid #73bfcb;
}
#container-radio-buttons{
	font-size: 22px;
	color: #fff;
	margin: 20px 0px;
	display: flex;
	align-items: center;
}
#container-radio-buttons label{
	margin-left: 30px;
	margin-right: 85px;
}
#container-radio-buttons select{
	padding: 7px 10px;
	letter-spacing: 2px;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 2px;
}

.titulos{
	color: #fff;
	margin-top: 10px;
	left: 15px;
	font-size: 20px;
	position: absolute;
	width: 150px;
}


#container-cadastro-nivel input{
	position: relative;
	left: 160px;
	letter-spacing: 2px;
	margin-left: 15px;
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 2px 10px 2px 40px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	width:65%;
	background-color: #fff;
	border-radius: 2px;
	margin-top: 10px;

}
.radio-niveis{
	display: none;
}
.radioBotao{
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 18px;
	background-color: transparent;
	border: 5px solid #ccc;
	transition: all .5s;
	box-shadow:  0px 0px 1px #73BFCB;
}

.radioBotao2{
	position: absolute;
	width: 3px;
	height: 3px;
	margin-top: 3.6px;
	margin-left: 4px;
	border-radius: 10px;
	background-color: transparent;
	border: 5px solid transparent;
	transition: all .5s;
			
	text-shadow: 0px 0px 1px #000;
	color: #fff;
	font-size: 22px;
}

.niveis{
	width: 60%;
}


#inputFile{
	display: none;
}
  
#btnCriarNivel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	text-shadow: 0px 0px 1px #000;
	font-size: 18px;
	height: 50px;
	width: 100%;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	border-top: 2px solid #73bfcb;
	position: absolute;
	bottom: 0px;
	box-shadow: inset 0px 0px 5px #73BFCB;
	transition: all .5s;
	border-radius: 2px;
	
	background-image: url(../imagens/salvar.png);
	background-repeat: no-repeat;
	background-position: 115% 50%;
}

#textobotao{
	width: 100%;
	height: 100%;
}

#empresa{
	background-image: url(../imagens/empresanome.png);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

#categoria{
	background-image: url(../imagens/categorianome.png);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

#float-adicionar-nivel{
	border-radius: 64px;
	position: fixed;
	width: 64px;
	height: 64px;
	bottom: 220px;
	right: 40px;
	
	background-image: url(../imagens/nivel.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	transition: all .2s;
}

#float-adicionar-nivel:hover{
	cursor: pointer;
}

