*{
	margin: 0;
	padding: 0;
	
}
html, body{
	font-family: 'Poppins', sans-serif;
}

body{
	letter-spacing: 2px;
	animation: aparecer 1s;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Medium.ttf);
}