*{
	margin: 0;
	padding: 0;
	
}
html, body{
	font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Medium.ttf);
}

@keyframes movimento{
	0%   { transform: scale(1.2); }
	100% { opacity: 1; transform: scale(1); }
}

body{
	letter-spacing: 2px;
	animation: aparecer 1s;
	display: flex;
	justify-content: space-around;
}

#container-visualizar-procedimento{
	letter-spacing: 2px;
	color: #000;
	width: 75%;
	margin: 0 auto;
	position: absolute;
	box-sizing: border-box;
	padding-left: 50px;
	margin-bottom: 200px;
}

#procedimento-descricao{
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 20px;
}

#container-visualizar-procedimento #tituloProcedimento{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	border-bottom: 5px solid #73bfcb;
	margin-bottom: 20px;
}

#container-visualizar-procedimento #sem-borda{
	font-size: 22px;
	display: inline;
	list-style: none;
	margin: 10px 0;
	padding: 0 10px;
}

#container-visualizar-procedimento .borda-lateral{
	border-right: 1px solid #e0e0e0;
	font-size: 22px;
	display: inline;
	list-style: none;
	margin: 10px 0;
	padding: 0 10px;
}


#container-visualizar-procedimento #ul-visualizar-procedimento{
	font-size: 22px;
	display: inline;
	list-style: none;
	margin: 20px 0;
	padding: 0 20px;
}

#btnPdf{
	width: 50px;
	height: 50px;
	margin: 50px;
	background-color: transparent;
	border: none;
	outline: none;
	bottom: -500px;
	position: absolute;
	
	background-image: url(../imagens/pdf.svg);
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 50px 50px;
}
