@CHARSET "ISO-8859-1";

@keyframes movimento{
	0%   { transform: scale(1.2); }
	
	100% { opacity: 1; transform: scale(1); }
}

@keyframes movimentoFechar{
	0% { opacity: 1; transform: scale(1); }
	
	100%   { transform: scale(0); }
}


#total{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0);
	z-index: -10;
	opacity: 0;
}
#perfil{
	background-color: rgba(0, 0, 0, .8);
	overflow: hidden;
	box-shadow: 0 0 10px #73bfcb;
	font-family: 'Poppins', sans-serif;
	position: fixed;
	top: 50%;
	margin-top: -325px;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	height: 600px;
	letter-spacing: 2px;
	border-radius: 4px;
	opacity: 0;
	z-index: -10;
}

#senha{
	background-image: url(../imagens/password.svg);
	display: none;
}

#usuario{
	text-shadow: 1px 2px 2px #000; 
	color: #fff;
	box-shadow: 0 0px 5px #73bfcb;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 8%;
	background-color: #73bfcb;
}
#informacoes{
	box-sizing: border-box;
	padding-top: 20px;
	width: 100%;
	height: 82%;
}

#informacoes input{
	font-family: 'Poppins', sans-serif;
	margin: 10px 55px;
	padding: 7px 7px 7px 40px;
	font-size: 16px;
	border: none;
	outline: none;
	box-shadow: 0px 0px 2px #000;
}

#perfilnome, #perfilemail, #perguntaSeguranca, #respostaSeguranca{
	width: 80%;
}
#perfilnome{
	background-image: url(../imagens/nome.svg);
}

#perfilemail{
	background-image: url(../imagens/user.svg);
}

#perguntaSeguranca{
	background-image: url(../imagens/perguntaseguranca.svg);
}

#respostaSeguranca{
	background-image: url(../imagens/respostaseguranca.svg);
}

#perfiltipo{
	width: 25%;
	background-image: url(../imagens/tipousuario.svg);
}
#informacoes input, #informacoes select{
	transition: all .5s;
	background-repeat: no-repeat;
	background-position: 1.5% 50%;
	background-size: 24px 24px;
}
#informacoes ul{
	color: #fff;
	margin-top: 10px;
	margin-left: 55px;
	font-size: 16px;
	width: 90%;
	font-weight: bolder;
}

#informacoes ul li {
	font-size: 16px ;
	font-weight: 400;
	list-style: none;
	display: inline;
}
#informacoes #meAlterar{
	position: absolute;
	right: 8%;
	bottom: 15%;
	width: 64px;
	height: 64px;
	border: none;
	background-color: transparent;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 40px 40px;
	border-radius: 2px;
	cursor:pointer;
	background-image: url(../imagens/alterar.svg);
}

#meAlterar:active{
	transform: translateY(4px);
}

#perfil #confirmar{
	letter-spacing: 2px;
	color:  #fff;
	cursor:pointer;
	box-shadow: inset 0 2px 5px #73bfcb;
	width: 100%;
	height: 10%;
	background-color: transparent;
	border: none;
	letter-spacing: 2px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	transition: all .5s;
}

.erro{
	background-image: url(../imagens/erro.svg) !important;
	background-repeat: no-repeat;
	background-position: 1.5% 50%;
	background-size: 24px 24px;
	background-color: rgba();
}

#alterarMinhaSenha{
	color: #73bfcb;
	font-size: 14px;
	margin-left: 55px; 
	bottom: 70px;
	position: absolute;
}

#container-alterar-minha-senha{
	position: fixed;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	height: 180px;
	top: 50%;
	margin-top: -90px;
	background-color: rgba(0, 0, 0, .8);
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	box-shadow: 0 0 10px #73bfcb;
	border-radius: 5px;
	display: none;
	opacity: 0;
}
#container-alterar-minha-senha div{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
#container-alterar-minha-senha div label{
	font-size: 16px;
	color: #73bfcb;
}
#container-alterar-minha-senha #container-alterar-minha-senha-input-antiga-senha, #container-alterar-minha-senha #container-alterar-minha-senha-input-nova-senha{
	background-color: #fff;
	border: none;
	outline: none;
	width: 85%;
	padding: 7px 5px;
}

#container-alterar-minha-senha-btn-ver-senha{
	width: 25px;
	height: 25px; 
	background-color: #696969;
}

#ver-senha-atual, #ver-senha-nova{
	width: 25px;
	height: 25px;
	position: absolute;
	right: 40px;
}

#ver-senha-atual{
	top: 37px;
}

#ver-senha-nova{
	bottom: 62px;
}

#container-alterar-minha-senha-btn-confirmar-troca-senha{
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	box-shadow: inset 0 0 5px #73bfcb;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	letter-spacing: 2px;
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 16px;
	transition: all 1s;
	position: absolute;
	bottom: 0;
}