@CHARSET "ISO-8859-1";


html, body{
	height: 100%;
	width: 100%;
}
#container-perfil-empresa{
	margin-left: 200px;
	width: 85%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 20px 10px;
	box-sizing: border-box;
	overflow: hidden;
}

#container-perfil-empresa-logo{
	text-align:center;
	width: 100%;
	height: 200px;
	display:flex;
	align-items:center;
	justify-content: space-around;
}

#container-perfil-empresa-logo #logo-da-empresa{
	height: 100%;
	margin-right: 25px;
}

#container-perfil-empresa-logo ul{
	text-align: left;
	letter-spacing: 2px;
	font-weight: bold;
	color: #696969;
	list-style: none;
}

#container-perfil-empresa-imagens{
	box-sizing: border-box;
	height: 80%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

#container-perfil-empresa-imagens-lista {
	overflow-y:auto;
	overflow-x: hidden;
}


#container-perfil-empresa-imagens-lista::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#container-perfil-empresa-imagens-lista::-webkit-scrollbar-thumb {
    background-color: #696969;
}

#container-perfil-empresa-imagens-lista::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#listaImagens{
	list-style: none;
}
.pequeno{
	width: 250px;
	height: 150px;
	float: left;
	margin: 10px;
	box-shadow: 0 0 5px #000;
}
#container-perfil-empresa-imagens-lista{
	width: 52%;
	height: 100%;
}

#container-perfil-empresa-imagens #imagemMaior{
	box-sizing: border-box;
	width: 47%;
	height: 100%;
}

#imagemMaior{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items:center;
	bottom: 70%;
	right: 0;
	float: right;
	width: 50%;
	height: 65%;
}
#imagemEscolhida{
	max-width: 100%;
	max-height: 85%;
	box-shadow: 0px 0px 10px #000;
}
#btnExcluirImagem{
	position: absolute;
	right: 100px;
	bottom: 45px;
	width: 100px;
	height: 50px;
	background-color: transparent;
	border: none;
	outline: none;
	
	background-image: url(../imagens/excluir.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 50px 50px;
}
#btnExcluirImagem:hover{
	cursor: pointer;	
}

#btnAdicionarImagem{
	display: none;
}
#btnAdicionarImagemFake{
	color: #696969;
	position: absolute;
	right: 300px;
	bottom: 45px;
	padding: 10px 10px 10px 50px;
	border: 2px solid #73bfcb;
	
	background-image: url(../imagens/upload.svg);
	background-repeat: no-repeat;
	background-position: 5% 50%;
	background-size: 30px;
}
#btnEnviar{
	display: none;
	z-index: -5;
	opacity: 0;
	color: #696969;
	position: absolute;
	right: 300px;
	bottom: 45px;
	padding: 10px 10px 10px 50px;
	border: 2px solid #73bfcb;
	
	background-image: url(../imagens/upload.svg);
	background-repeat: no-repeat;
	background-position: 5% 50%;
	background-size: 30px;
}

#progresso{
	height: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #f12;
}
