@CHARSET "ISO-8859-1";

html, body{
	height: 100%;
	width: 100%;
}
#container-perfil-usuario{
	margin-left: 200px;
	width: 85%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 20px 10px;
	box-sizing: border-box;
}
#container-perfil-usuario-imagem-informacoes{
	width: 100%;
	height: 20%;
}

#container-perfil-usuario-imagem{
	width: 10%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding: 10px;
	
	background-image: url(../imagens/simboloanalista.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
}

#container-perfil-usuario-informacoes{
	width: 90%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding: 10px 10px 10px 20px;
	display: flex;
	align-items: center;
}

#container-perfil-usuario-informacoes ul{
	list-style: none;
}
#container-perfil-usuario-informacoes ul li:first-child{
	font-size: 22px;
	margin-bottom: 10px;
	border-bottom: 2px solid #73bfcb;
}
#container-perfil-usuario-informacoes ul li{
	font-size: 16px;
	font-weight: bold;
}
#container-perfil-usuario-informacoes .info{
	color: #696969;
	font-weight: normal;
}
#container-perfil-usuario-tabela{
	width: 100%;
	height: 80%;
	padding-top: 50px;
	box-sizing: border-box;
}
#container-perfil-usuario-tabela-empresa-e-pesquisa{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#container-perfil-usuario-tabela-empresa-e-pesquisa input{
	padding: 7px 5px;
	font-size: 18px;
	letter-spacing: 2px; 
	
	
	font-size: 18px;
	padding: 7px 5px;
	outline: none;
	border: none;
	box-sizing: border-box;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
	
}

#container-perfil-usuario-tabela-empresa-e-pesquisa  #lista-empresas-do-usuario{
	padding: 7px 5px 7px 35px;
	box-shadow: -1px 0 5px #696969;
	
	width: 25%;
	background-image: url(../imagens/empresanome.png);
	background-repeat: no-repeat;
	background-position: 3% 50%;
	background-size: 24px 24px;
}
#input-pesquisar-procedimento-mais-acessado{
	width: 85%;
	box-shadow: 0 0px 5px #696969;
	background-image: url(../imagens/pesquisa.png);
	background-repeat: no-repeat;
	background-position:  97% 50%;
	background-size: 24px 24px;
}

#container-tabela-procedimentos-mais-acessados{
	margin-top: 25px;
	width: 100%;
	height: 80%;
	overflow-y: auto;
}

#tabela-procedimentos-mais-acessados{
	border-collapse: collapse;
	width: 100%;
	box-shadow: 0 0 5px #ccc;
}
#tabela-procedimentos-mais-acessados tr td{
	padding: 5px 10px;
}
#tabela-procedimentos-mais-acessados thead tr td{
	font-size: 18px;
	background-color: #000;
	color: #fff;
	font-weight: bold;
}
#tabela-procedimentos-mais-acessados tbody tr td{
	font-size: 15px;
	margin: 2px;
}
#tabela-procedimentos-mais-acessados tbody tr:nth-child(even){
	background-color: rgba(220, 220, 220, .5);
}


#tabela-procedimentos-mais-acessados tbody tr:hover{
	color: #fff;
	transition: all 0.5s ease-in-out;
	background-color:rgba(115, 191, 203, 1);
}
td:first-child  { width: 10%;}
td:nth-child(2)  { width: 50%;}
td:nth-child(3)  { width: 15%;} 


/*Muda a cor do caminho da scrollbar o tamanho e a altura*/
#container-tabela-procedimentos-mais-acessados::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.4); 
}
/* muda a cor da barra de scrollbar */
#container-tabela-procedimentos-mais-acessados::-webkit-scrollbar-thumb {
    background: rgba(220, 220, 220, 1); 
}

/* Conatainer - procedimentos */


/* Estilizar as setas do datalist */
input::-webkit-calendar-picker-indicator {
		color: #ccc;
        opacity: 1;
        width: 12px; 
        height: 12px;
        background-color: transparent;
}

#container-perfil-usuario-informacoes #tipo:before{
	content: " < ";
	margin-left: 10px;
}
#container-perfil-usuario-informacoes #tipo:after {
	content: " > ";
}

#container-perfil-usuario-informacoes #tipo{
	font-size: 15px;
}

