#container-redefinir-senha{
	width: 500px;
	height: 200px;
	background-color: rgba(0, 0, 0, .1);
	position: fixed;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	overflow: hidden;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -250px;
	opacity: 0;
	z-index: -10;
}

#logo-empresa {
	text-align: center;

}

#textobotao{
	letter-spacing: 2px;
	width: 100%;
	height: 100%;
}

.label-seguranca{
	display: none;
}

#container-redefinir-senha p{
	text-shadow: 0px 0px 0.5px #000;
	color: #000;
	margin-left: 15px;
	font-size: 15px;
	margin-bottom: 15px;
}

#container-redefinir-senha label{
	text-shadow: 0px 0px 1px #FFF;
	margin-left: 15px;
	color: #FFF;
	font-size: 15px;
}

#email-usuario{
	letter-spacing: 2px;
	margin-top: 8px;
	margin-left: 15px;
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 4px 5px 4px 40px;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	width: 95%;
	background-color: #fff;
	border-radius: 2px;
	font-weight: bold;
	margin-bottom: 15px;
	
	background-image: url(../imagens/email.svg);
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 24px;
}

#imagem-senha{
	float: lef;
	padding-left: 10px;
	cursor:pointer;
	padding-top: 10px;
	display: none;
}

#nova-senha{
	display: none;
	letter-spacing: 2px;
	margin-top: 8px;
	margin-left: 15px;
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 2px 10px 2px 40px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	width: 75%;
	background-color: #fff;
	border-radius: 2px;
	margin-bottom: 15px;
	font-weight: bold;
	float: left;
}

#resposta-seguranca{
	display: none;
	letter-spacing: 2px;
	margin-top: 8px;
	margin-left: 15px;
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 2px 10px 2px 40px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	width: 95%;
	background-color: #fff;
	border-radius: 2px;
	font-weight: bold;
	margin-bottom: 15px;
}
#proximo{
	z-index: 1;
}
#confirmar{
	z-index: 0;
	display: none;
}

#enviar{
	display: none;
}

#total{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	opacity: 0;
	transition: all .2s;
	z-index: -10;
}

#container-redefinir-senha button{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	text-shadow: 0px 0px 1px #000;
	font-size: 18px;
	height: 50px;
	width: 100%;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: #000;
	border: none;
	position: absolute;
	bottom: 0px;
	/*box-shadow: inset 0px 0px 5px #000;*/
	transition: all .5s;
	border-radius: 2px;
	
	background-image: url(../imagens/salvar.png);
	background-repeat: no-repeat;
	background-position: 115% 50%;
}

#container-redefinir-senha #titulo{
	color: #fff;
	text-shadow: 0px 0px 1px #000;
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
	background-color: #000;
	width: 100%;
	position: relative;
	top: 0;
	margin-bottom: 10px;
}


.erroEmail{
	background-image: url(../imagens/erro.svg) !important;
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 24px 24px;
	box-shadow: 0 0 10px #f12;
}