@CHARSET "ISO-8859-1";


html, body{
	height: 100%;
}
#relatorio-container{
	width: 85%;
	height: 95%;
	margin-left: 200px;
}

#relatorio-container-top{
	color: #fff;
	width: 100%;
	height: 12%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 15px 10px;
}

.relatorio-container-top-divs{
	width: 25%;
	height: 100%;
	box-sizing: border-box;
	padding: 5px;
	
	background-repeat: no-repeat;
	background-position: 85% 50%;
	background-size: 15%;
	color: #696969;
	transition: all .2s;
}

.relatorio-container-top-divs:hover{
	color: #73bfcb;
	font-weight: bold;
	font-size: 20px;
}
.separador{
	width: 1px;
	height: 70px;
	background-color: rgba(220, 220, 220, .5);
	border: none;
	
}
.relatorio-container-top-divs h1, .relatorio-container-top-divs p{
	margin-left: 20px;
}
.relatorio-container-top-divs p{
	font-size: 12px;
	margin-top: -10px;
}
#relatorio-container-top-empresas{
	background-image: url(../imagens/quantidadeempresascinza.svg);
}
#relatorio-container-top-empresas:hover{
	background-image: url(../imagens/quantidadeempresasazul.svg);
}

#relatorio-container-top-categorias{
	background-image: url(../imagens/quantidadecategoriascinza.svg);
}

#relatorio-container-top-categorias:hover{
	background-image: url(../imagens/quantidadecategoriasazul.svg);
}

#relatorio-container-top-procedimentos{
	background-image: url(../imagens/quantidadeprocedimentoscinza.svg);
}
#relatorio-container-top-procedimentos:hover{
	background-image: url(../imagens/quantidadeprocedimentosazul.svg);
}

#relatorio-container-top-usuarios{
	background-image: url(../imagens/quantidadeusuarioscinza.svg);
}

#relatorio-container-top-usuarios:hover{
	background-image: url(../imagens/quantidadeusuariosazul.svg);	
}

#relatorio-container-bottom{
	width: 100%;
	height: 85%;
	box-sizing: border-box;
}

#relatorio-container-bottom-grafico{
	width: 75%;
	float: left;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	margin-bottom: 20px;
	padding: 20px;
	margin-top: 20px;
}
#relatorio-container-bottom-grafico-de-linha-titulo{
	width: 100%;
	text-align: center;
	color: #696969;
}

#relatorio-container-bottom-aside-grafico{
	margin-top: 20px;
	box-sizing: border-box;
	float: left;
	width: 25%;
	height: 100%;
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.pie-graficos-container{
	align-items:center;
	width: 100%;
	height: 49%;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	color: #696969;
}
.pie-graficos-container h5{
	font-size: 1em;
	width: 100%;
	padding: 2px;
}
.pie-grafico{
	width: 70%;
}


#container-data{
	width: 100%;
	font-size: 20px;
	color: #696969;
	letter-spacing: 2px;
	display: flex;
	justify-content:space-around;
	font-weight: bold;
}

#container-data input{
	height: 25px;
	padding: 7px;
	border: none;
	outline: none;
	box-shadow: 0 0 2px #000;
}

#container-data #empresa{
	width: 250px;
	font-weight: bold;
	letter-spacing: 2px;
	border-radius: 3px;
	font-family: 'Poppins', sans-serif;
}

.legenda-grafico{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.legenda-grafico ul{
	list-style: none;
}

.legenda-grafico ul li{
	margin: 10px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border-bottom: 1px solid #ccc;
}
#legenda-analista:before{
	margin-right: 10px;
	color: transparent;
	content: 'aa';
	width: 15px;	
	background-color: #90F0FF;
}
#legenda-coordenador:before{
	margin-right: 10px;
	color: transparent;
	content: 'aa';
	width: 15px;
	height: 15px;
	background-color: #243C40;
}

#grafico-doughnut-1-legendas{
	width: 100%;
	height: 70px;
	overflow-y:auto;
}

#grafico-doughnut-1-legendas::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#grafico-doughnut-1-legendas::-webkit-scrollbar-thumb {
    background-color: #696969;
}

#grafico-doughnut-1-legendas::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.grafico-doughnut-1-legendas-cores{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%;
}

#grafico-doughnut-1-legendas-cores:before{
	content: 'aa';
	color: transparent;
}
#grafico-doughnut-1-legendas li span:nth-child(1):before{
	margin-right: 10px;
}
#grafico-doughnut-1-legendas li:nth-child(1) span:nth-child(1):before{
	content: 'aa';
	color: transparent;
	background-color: #73BFCB;
}

#grafico-doughnut-1-legendas li:nth-child(2) span:nth-child(1):before{
	content: 'aa';
	color: transparent;
	background-color: #82D8E5;
}
#grafico-doughnut-1-legendas li:nth-child(3) span:nth-child(1):before{
	content: 'aa';
	color: transparent;
	background-color: #90F0FF;
}

#grafico-doughnut-1-legendas li:nth-child(4) span:nth-child(1):before{
	content: 'aa';
	color: transparent;
	background-color: #6E7D7F;
}
#grafico-doughnut-1-legendas li:nth-child(5) span:nth-child(1):before{
	content: 'aa';
	color: transparent;
	background-color: #74C0CC;
}

#grafico-doughnut-1-legendas li:nth-child(6) span:nth-child(1):before{
	content: 'aa';
	color: transparent;
	background-color: #243C40;
}
#grafico-doughnut-1-legendas li:nth-child(7) span:nth-child(1):before{
	content: 'aa';
	color: transparent;
	background-color: #fafafa;
}

#grafico-doughnut-1-legendas li:nth-child(8) span:nth-child(1):before{
	content: 'aa';
	color: transparent;
	background-color: #D8DE3F;
}
#grafico-doughnut-1-legendas li:nth-child(9) span:nth-child(1):before{
	content: 'aa';
	color: transparent;
	background-color: #DCFAFF;
}

#grafico-doughnut-1-legendas li:nth-child(10) span:nth-child(1):before{
	content: 'aa';
	color: transparent;
	background-color: #1F727F;
}

/* #relatorioData{
	letter-spacing: 2px;
	font-size: .8vw;
	color: #696969;
	font-weight: 600;	
}
*/

#relatorioMeses{
	height: 35px;
	background-color: #fff;
	box-shadow: 0 0 5px #ccc;
	border-radius: 3px;
	font-family: 'Poppins', sans-serif;
}

/* 
#btnGerarRelatorioPorData{
	background-color: #73bfcb;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1vw;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
	border-radius: 3px;
}

.erroEmpresa{
 	animation: erroEmpresa .7s;	
}

@keyframes erroEmpresa{
	0%   {box-shadow: 0 0 5px #f12; margin-top: 10px;}
	25%  {box-shadow: 0 0 5px #f12; margin-top: -10px;}
	50%  {box-shadow: 0 0 5px #f12; margin-top: 10px;}
	75%  {box-shadow: 0 0 5px #f12; margin-top: -10px;}
	100% {margin-top: 10px;}
} */



