@keyframes movimento{
	0%   { transform: scale(1.2); }
	
	100% { opacity: 1; transform: scale(1); }
}

#container-cadastro-upload{
	width: 500px;
	height: 200px;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	box-shadow: 0px 0px 10px #73BFCB;
	border-radius: 5px;
	overflow: hidden;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -250px;
	opacity: 0;
	z-index: -10;
}

#container-cadastro-upload-titulo{
	color: #fff;
	text-shadow: 0px 0px 1px #000;
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
	background-color: #73bfcb;
	width: 100%;
	position: relative;
	top: 0;
	margin-bottom: 15px;
}

#total{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	opacity: 0;
	transition: all .2s;
	z-index: -10;

}

label{
	text-shadow: 0px 0px 1px #000;
	margin-left: 15px;
	color: #fff;
	font-size: 22px;
}

#nome{
	letter-spacing: 2px;
	margin-top: 15px;
	margin-left: 15px;
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 2px 10px 2px 40px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	width: 95%;
	background-color: #fff;
	border-radius: 2px;
	margin-bottom: 40px;
	
	background-image: url(../imagens/empresanome.png);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

#selecionarArquivo{
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 2px 10px 2px 40px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	width: 95%;
	border: 2px  solid #fff;
	border-radius: 2px;
	
	background-image: url(../imagens/excel.png);
	background-repeat: no-repeat;
	background-position: 4% 50%;
}

#selecionarArquivos:hover{
	cursor: pointer;
}


#inputFile{
	display: none;
}


* Estilizar as setas do datalist */
input:-webkit-calendar-picker-indicator {
	color: #ccc;
    opacity: 1;
    width: 12px; 
    height: 12px;
    background-color: transparent;
}
    
#formulario button{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	text-shadow: 0px 0px 1px #000;
	font-size: 18px;
	height: 50px;
	width: 100%;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	border-top: 2px solid #73bfcb;
	position: absolute;
	bottom: 0px;
	box-shadow: inset 0px 0px 5px #73BFCB;
	transition: all .5s;
	border-radius: 2px;
}


#textobotao{
	letter-spacing: 2px;
	width: 100%;
	height: 100%;
}

#float-adicionar-upload{
	background-image: url(../imagens/icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	
	position: fixed;
	width: 64px;
	height: 64px;
	bottom: 120px;
	right: 30px;
}

#float-adicionar-upload:hover{
	cursor: pointer;
}

.erro{
	background-image: url(../imagens/erro.svg) !important;
	background-repeat: no-repeat;
	background-position: 1.5% 50%;
	background-size: 24px 24px;
	background-color: rgba();
	border: 1px solid red;
}