@keyframes movimento{
	0%   { transform: scale(1.2); }
	
	100% { opacity: 1; transform: scale(1); }
}

#alterar:active {
  transform: translateY(4px);
}

#excluir:active {
  transform: translateY(4px);
}

#container-formulario-cadastro-usuario{
	width: 700px;
	height: 600px;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	box-shadow: 0px 0px 10px #73BFCB;
	border-radius: 5px;
	overflow: hidden;
	transform: translateY(0%);
	left: 50%;
	margin-left: -350px;
	opacity: 0;
	z-index: -10;
}

#tituloCadastroUsuario{
	color: #fff;
	text-shadow: 0px 0px 1px #000; 
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
	background-color: #73bfcb;
	width: 100%;
	position: relative;
	top: 0;
	margin-bottom: 10px;
}

.titulos{
	color: #fff;
	margin-top: 10px;
	left: 15px;
	font-size: 20px;
	position: absolute;
	width: 200px;
}

#container-formulario-cadastro-usuario input{
	margin-left: 150px;
	position: relative;
	letter-spacing: 2px;
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 2px 10px 2px 40px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	width:65%;
	background-color: #fff;
	border-radius: 2px;
	margin-top: 10px;
}

#input-pesquisa{
	margin-left: 0px;
}

#container-radio-buttons{
	display: flex;
	justify-content: space-around;
	font-size: 18px;
	color: #fff;
	margin: 20px 0px;
	position: absolute;		
	background-color: #696969;
	width: 100%;
	
}
#titulo-tipoDeUsuario{
	position: absolute;
	left: 15px;
	font-size: 18px;
}

#formulario-cadastro-usuario #nome{
	background-image: url(../imagens/nome.svg);
}
#formulario-cadastro-usuario #email{
	background-image: url(../imagens/user.svg);
}
#formulario-cadastro-usuario #senha{
	background-image: url(../imagens/password.svg);
}
#formulario-cadastro-usuario #selectTipoUsuario{
	background-image: url(../imagens/tipousuario.svg);
}
#formulario-cadastro-usuario #selectQuantidadeEmpresa{
	background-image: url(../imagens/quantidadeempresas.svg);
}


#container-quantidade-empresas{
	display: flex;
	padding: 0px 15px;
	justify-content: space-between;
	margin-top: 70px;
	width: 100%;
	height: 200px;
	font-size: 18px;
	color: #fff;
}
#container-quantidade-empresas #pesquisaempresas{
	position: absolute;
	margin-left: 0;
	left: 150px;
	margin: 10px 0 20px 0;
	width: 50%;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
	padding: 2px 5px 2px 35px;
	font-size: 18px;
	font-weight: 300;
	background-image: url(../imagens/pesquisa.png);
	background-repeat: no-repeat;
	background-position: 1.5% 50%;
	background-size: 24px 24px;
}

#empresas-checkbox{
	list-style: none;
	box-sizing: border-box;
	overflow-y: auto;
	width: 90%;
	height: 80%;
	margin-top: 70px;
}
#empresas-checkbox::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#empresas-checkbox::-webkit-scrollbar-thumb {
    background-color: #73bfcb;
}

#empresas-checkbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.empresas{
	margin-left: 0px !important;
	width: 10% !important;
}

.liempresas{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 200px;
	float: left;
}


#formulario-cadastro-usuario button{
	font-family: 'Poppins', sans-serif;
	text-shadow: 0px 0px 1px #000;
	font-size: 18px;
	height: 50px;
	width: 100%;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	border-top: 2px solid #73bfcb;
	position: absolute;
	bottom: 0px;
	box-shadow: inset 0px 0px 5px #73BFCB;
	transition: all .5s;
	border-radius: 2px;
	
	background-image: url(../imagens/salvar.png);
	background-repeat: no-repeat;
	background-position: 115% 50%;
}

#textobotao{
	width: 100%;
	height: 100%;
}

#float-adicionar-usuario{
	border-radius:64px;
	box-shadow: 0px 5px 1px #696969;
	background-image: url(../imagens/adicionar.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	transition: all .2s;
	
	
	position: fixed;
	width: 64px;
	height: 64px;
	bottom: 30px;
	right: 30px;
}
#float-adicionar-usuario:ACTIVE{
	box-shadow: 0px 0px 0px #696969;
	bottom: 25px;
}

#float-adicionar-usuario:hover{
	cursor: pointer;
}

#total{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	opacity: 0;
	transition: all .1s;
	z-index: -10;
}

 
.botoes-alterar-excluir{
	display: flex;
	align-items: center;
	justify-content: space-around;
	bottom: 70px;
	right: 70px;
	width: 30%;
	height: 40px;
	position: absolute;
}

.botoes-alterar-excluir #alterar{
	box-sizing: border-box;
	padding: 2px;
	background-image: url(../imagens/alterar.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 24px 24px;
	height: 40px;
	
	width: 60px;
	/* display: none; */
	
}

.botoes-alterar-excluir #excluir{
	box-sizing: border-box;
	padding: 2px;
	background-image: url(../imagens/excluir.png);
	background-repeat: no-repeat;
	height: 40px;
	width: 60px;
	left: 50px;
	/* display: none; */
}
#selectTipoUsuario{
	position: absolute;
	left: 150px;
	margin-top: 10px;
	width: 30%;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
	padding: 2px 5px 2px 35px;
	font-size: 18px;
	font-weight: 300;
}

#formulario-cadastro-usuario input, #formulario-cadastro-usuario select{
	transition: all .5s;
	background-repeat: no-repeat;
	background-position: 1.5% 50%;
	background-size: 24px 24px;
}

.erro{
	background-image: url(../imagens/erro.svg) !important;
	background-repeat: no-repeat;
	background-position: 1.5% 50%;
	background-size: 24px 24px;
	background-color: rgba();
	border: 1px solid red;
}

#link-perfil-usuario{
	display: none;
	position: absolute;
	margin-left: 25px;
	bottom: 80px;
	font-size: 18px;
	font-weight: bold;
	color: #73bfcb;
	text-decoration: none;
}

