@-webkit-keyframes movimento{
	0%   { -webkit-transform: scale(1.2); transform: scale(1.2); }
	100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -webkit-transform: scale(1); transform: scale(1); }
}

@keyframes movimento{
	0%   { -webkit-transform: scale(1.2); transform: scale(1.2); }
	100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -webkit-transform: scale(1); transform: scale(1); }
}

body{
	letter-spacing: 2px;
	-webkit-animation: aparecer 1s;
	        animation: aparecer 1s;
}

#container-visualizar-procedimento{
	letter-spacing: 2px;
	color: #000;
	width: 75%;
	margin: 0 auto;
	position: absolute;
	margin-left: 260px;
	box-sizing: border-box;
	padding-left: 50px;
	margin-bottom: 200px;
}

#conteudo-procedimento{
	margin-top: 40px;	
}

#container-visualizar-procedimento #procedimento-descricao, #container-visualizar-procedimento #descricao{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
}
#container-visualizar-procedimento #descricao{
	text-align: justify;
	overflow-wrap: break-word; 
}

#container-visualizar-procedimento #tituloProcedimento{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	border-bottom: 5px solid #73bfcb;
	margin-bottom: 20px;
}

#container-visualizar-procedimento #sem-borda{
	font-size: 22px;
	display: inline;
	list-style: none;
	margin: 10px 0;
	padding: 0 10px;
}

#container-visualizar-procedimento .borda-lateral{
	border-right: 1px solid #e0e0e0;
	font-size: 22px;
	display: inline;
	list-style: none;
	margin: 10px 0;
	padding: 0 10px;
}


#container-visualizar-procedimento #ul-visualizar-procedimento{
	font-size: 22px;
	display: inline;
	list-style: none;
	margin: 20px 0;
	padding: 0 20px;
}


#alterarProcedimento{
	width: 50px;
	height: 50px;
	margin: 50px;
	background-color: transparent;
	border: none;
	outline: none;
	right: 200px;
	bottom: -200px;
	position: absolute;
	
	background-image: url(../imagens/alterar.svg);
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 50px 50px;
}

#excluirConfirmar{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 100px;
	bottom: -150px;
	background-color: transparent;
	border: none;
	outline: none;
	
	background-image: url(../imagens/excluir.svg);
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 50px 50px;
}

#alterarProcedimento:hover, #excluirConfirmar:hover{
	cursor: pointer;
}

#totalModal{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .6);
	z-index: -10;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#modal-confirmar{
	color: #fff;
	width: 700px;
	height: 300px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	margin-top: -150px;
	background-color: rgba(0, 0, 0, 1);
	overflow: hidden;
	border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	box-sizing: border-box;
	z-index: -10;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	box-shadow: 0 0 10px #73bfcb;
}

#modal-confirmar h2{
	background-color: #73bfcb;
	text-align: center;
	width: 100%;
	padding: 10px;
}

#mensagemDeConfirmacao{
	text-align: center;
	letter-spacing: 2px;
	font-size: 22px;
	position: absolute;
	top: 100px;
	padding: 0 30px;
}

#btnSim, #btnNao{
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	background-color: transparent;
	letter-spacing: 2px;
	border: none;
	outline: none; 
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
	padding: 0 20px;
}

#btnSim:hover, #btnNao:hover, #btnPdf:hover, #aprovarProcedimento:hover{
	cursor: pointer;
	color: #73bfcb;
}

#btnSim{
	position: absolute;
	bottom: 20px;
	left: 250px;
}

#btnNao{
	position: absolute;
	bottom: 20px;
	right: 250px; 
}

#mensagemDeConfirmacaoBotoes{
	width: 80%;
	border-top: 1px  solid rgba(115, 191, 203, 1);
	height: 30%;
}
#btnPdf{
	width: 50px;
	height: 50px;
	margin: 50px;
	background-color: transparent;
	border: none;
	outline: none;
	right: 350px;
	bottom: -200px;
	position: absolute;
	
	background-image: url(../imagens/pdf.svg);
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 50px 50px;
}

#aprovarProcedimento{
	width: 50px;
	height: 50px;
	margin: 50px;
	background-color: transparent;
	border: none;
	outline: none;
	right: 500px;
	bottom: -200px;
	position: absolute;
	
	background-image: url(../imagens/aprovar.svg);
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 50px 50px;
}
